body{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --red: #dc413e
}

.inner-container,
section{
    padding: 1rem;
}

/* typography */
h2,
h3{
    color: var(--red);
    text-transform: uppercase;
    font-size: 3.75rem;
    font-weight: 200;
}

h3{
    font-size: 2.5rem;
}

p{
    margin-bottom: 1.5rem;
}


/* header  */

/* to do : create a sticky header that will scroll until the nav links hit the top of the view port */

header{
    background-color: #000;
    fill: #fff;
}

header svg{
    width: 4.6875rem;
}

.menu{
    display: flex;
    flex-wrap: wrap;
}

.menu a{
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0.5rem;
}

.menu a:hover,
.menu a:active{
    color: var(--red);
}

.menu li{
    line-height: 2.1875rem;
    text-align: center;
    flex: 1 0 50%;
}

fieldset{
    border: none;
}

label{
    display: block;
    text-transform: uppercase;
    font-size: 1.865rem;
}

form div{
    margin-bottom: 1.5rem;
}

input,
textarea{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #e8e8e8;
}

textarea{
    resize: vertical;
    min-height: 18.75rem;
}

/* to do resize checkbox to 24X24 place label beside it on the right  */

input[type=submit]{
    background-color: #fff;
    border: none;
    box-shadow: none;
    text-transform: uppercase;
    font-size: 1.875rem;
    transition: padding-left 1s ease;
}

input[type=submit]:hover{
    cursor: pointer;
    color: var(--red);
    padding-left: 20px;
}

@media only screen and (min-width: 450px){
    .menu li{
        /* auto is the key word for the default content width - resets the item back to its original width */
        flex: 0 0 auto;
    }
}

@media only screen and (min-width: 1260px){
    .inner-container,
    section{
        max-width: 1200px;
        padding: 1rem 0;
        margin: 0 auto;
    }

    /* to do : on the wider screen adjust and layout the form to two equal columns with a gutter space between them -- see screen shot
    */
}